<p class="lead">Edit Question <%= @question.sequence %></p>

<div class="form" >
	<%= form_for @question do |f| %>
	<div class="field">
		<%= f.label "Question Text" %>
		<%= f.text_field :text, :value => @question.text %>
	</div>
	<div class="field">
		<%= f.label "Question Kind" %>
		<%= f.select(:kind, ["choose_one", "choose_many", "choose_one_with_freetext", "choose_many_with_freetext", "freetext"], :selected => @question.text) %>
	</div>
	<%= f.submit %>
	<% end %>
</div> 