<h1>All Patients</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Dob</th>
    <th>Doctor</th>
    <th>Edit</th>
    <th>Completed Surveys</th>
    <th>Notes</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.first_name %> <%= patient.last_name %></td>
    <td><%= patient.gender %></td>
    <td><%= patient.dob %></td>
    <td><%= patient.doctor %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= patient.responses.count %></td>
    <td><%= link_to "Build Note", patient_note_patient_path(patient) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
