<h1>Survey: <%= @survey.title %> 
	<%= link_to "Edit Title", edit_survey_path(@survey), :class => "btn btn-default btn-xs" %> 
	<%= link_to "Preview Survey", survey_path(@survey), :class => "btn btn-default btn-xs" %>
</h1>
<div id="questions">
	<h4>Questions <%= link_to "Add +", new_question_path(:survey_id => @survey.id), :class => "btn btn-default btn-xs" %></h4>
	<ul class="list-group">
		<% @survey.questions.each do |q| %>
		<li class="list-group-item">
			<%= link_to "Question ##{q.sequence}", survey_path(@survey, :question => q.id) %>
		</li>
		<% end %>
	</ul>
</div>
<% if @question %>
	<div id="question-box" class="panel panel-info">
		<div class="panel-heading" id="question-heading">
			<div id="question-head-left">
				<%= link_to "Edit Question #{@question.sequence}", edit_question_path(@question), :class => "btn btn-default btn-xs" %>
			</div>
			<div id="question-head-right">
				<% if @question.answers.count == 0 %>
					<%= link_to "Add Answer Choice +", new_answer_path(:question_id => @question.id), :class => "btn btn-default btn-xs" %>
				<% else %>
					<%= link_to "Edit/Add Answer Choices", edit_answer_path(:question_id => @question.id), :class => "btn btn-default btn-xs" %>
				<% end %>
			</div>
		</div>
		<div class="panel-body">
			<div id="question-text">
				<b>Question Text:</b> <i><%= @question.text %></i><br />
				<b>Question Kind:</b> <i><%= @question.kind %></i><br />
			</div>
			<div id="answer-choices">
				<% if @answers %>
					<ul type="none">
						<% @answers.each do |answer| %>
							<li><b><%= answer.sequence %>.</b> <i><%=answer.text %></i></li>
						<% end %>
					</ul>
				<% else %>
					No answer choices!
				<% end %>
			</div>
		</div>
	</div>
<% else %>
	<div class="col-xs-9" id="survey-preview">
		<div class="primary panel-primary">
			<div class="panel-heading" style="text-align: center">
				<%= @survey.title %>
			</div>
			<div class="panel-body">
				<% @survey.questions.each do |question| %>
					<table class="table">
						<tr>
							<td colspan="2"><%= question.sequence %>. <%= question.text %></td>
						</tr>
						<% question.answers.each do |answer| %>
							<tr>
								<td width="3%"></td>
								<td width="97%"><%= radio_button_tag "question_#{question.sequence}", "answer_#{answer.sequence}"  %> <%= answer.text %></td>
							</tr>
						<% end %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
