<h1>Survey: <%= @survey.title %></h1>
<div id="questions">
	<h4>Questions <%= link_to "Add +", new_survey_question_path(@survey) %></h4>
	<ul class="list-group">
		<% @survey.questions.each do |q| %>
		<li class="list-group-item">
			<%= link_to "Question ##{q.sequence}", survey_path(@survey, :question => q.id) %>
		</li>
		<% end %>
	</ul>
</div>
<% if @question %>
	<div id="question-box" class="panel panel-info">
		<div class="panel-heading">
			Question <%= @question.sequence %>
		</div>
		<div class="panel-body">
			<div id="question-text">
				<b>Question Text:</b> <i><%= @question.text %></i>
			</div>
			<div id="answer-choices">
				<% if @answers %>
					<ul type="none">
						<% @answers.each do |answer| %>
							<li><b><%= answer.sequence %>.</b> <i><%=answer.text %></i></li>
						<% end %>
					</ul>
				<% else %>
					No answer choices!
				<% end %>
			</div>
		</div>
	</div>
<% end %>
